<footer class="bg-slate-900 font-inter">
  <div class="mx-auto max-w-7xl px-6 py-8 lg:px-8">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8">
        <div class="space-y-4">
          <a href="/" class="inline-block">
            <%= image_tag "FluentRx-logo-horizontal-light.png", class: "h-20 w-auto", alt: "FluentRx Logo" %>
          </a>
          <p class="text-sm leading-6 text-gray-300">
            Strategic English training designed to help professionals communicate with impact. We help turn your expertise into your most powerful career tool. Invest in your professional voice.
          </p>
        </div>
        <div class="flex items-center space-x-6">
          <a href="mailto:info@fluentrx.com" class="text-gray-400 hover:text-secondary transition-colors duration-300">
            <span class="sr-only">Email</span>
            <i class="fa-solid fa-envelope fa-lg"></i>
          </a>

          <a href="https://wa.me/66935515200" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-secondary transition-colors duration-300">
            <span class="sr-only">WhatsApp</span>
            <i class="fa-brands fa-whatsapp fa-lg"></i>
          </a>

          <a href="https://www.facebook.com/FluentRx/" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-secondary transition-colors duration-300">
            <span class="sr-only">Facebook</span>
            <i class="fa-brands fa-facebook fa-lg"></i>
          </a>

          <a href="https://www.instagram.com/fluent_rx/" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-secondary transition-colors duration-300">
            <span class="sr-only">Instagram</span>
            <i class="fa-brands fa-instagram fa-lg"></i>
          </a>

          <a href="https://x.com/fluentrx" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-secondary transition-colors duration-300">
            <span class="sr-only">X</span>
            <i class="fa-brands fa-x-twitter fa-lg"></i>
          </a>

          <a href="https://linkedin.com/in/klintrock" target="_blank" rel="noopener noreferrer" class="text-gray-400 hover:text-secondary transition-colors duration-300">
            <span class="sr-only">LinkedIn</span>
            <i class="fa-brands fa-linkedin fa-lg"></i>
          </a>
        </div>
      </div>

      <div class="mt-8 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
        <div>
          <h3 class="text-sm font-semibold leading-6 text-white">Courses</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li>
              <a href="/courses" class="text-sm leading-6 text-gray-300 hover:text-white">All Courses</a>
            </li>
            <li>
              <a href="/courses/business-briefing" class="text-sm leading-6 text-gray-300 hover:text-white">Business Briefing</a>
            </li>
            <li>
              <a href="/courses/strategy-room" class="text-sm leading-6 text-gray-300 hover:text-white">Strategy Room</a>
            </li>
            <li>
              <a href="/courses/interview-playbook" class="text-sm leading-6 text-gray-300 hover:text-white">Interview Playbook</a>
            </li>
            <li>
              <a href="/courses/job-toolkit" class="text-sm leading-6 text-gray-300 hover:text-white">Job Toolkit</a>
            </li>
            <li>
              <a href="/courses/educators-edge" class="text-sm leading-6 text-gray-300 hover:text-white">Educator's Edge</a>
            </li>
            <li>
              <a href="/courses/score-accelerator" class="text-sm leading-6 text-gray-300 hover:text-white">Score Accelerator</a>
            </li>
          </ul>
        </div>
        <div>
          <h3 class="text-sm font-semibold leading-6 text-white">Company</h3>
          <ul role="list" class="mt-6 space-y-4">
            <li>
              <a href="/our-approach" class="text-sm leading-6 text-gray-300 hover:text-white">Our Approach</a>
            </li>
            <li>
              <a href="/client-results" class="text-sm leading-6 text-gray-300 hover:text-white">Client Results</a>
            </li>
            <li>
              <a href="/courses" class="text-sm leading-6 text-gray-300 hover:text-white">Our Courses</a>
            </li>
            <li>
              <a href="/contact" class="text-sm leading-6 text-gray-300 hover:text-white">Contact Us</a>
            </li>
            <li>
              <a href="/book" class="text-sm leading-6 text-gray-300 hover:text-white">Book Consultation</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mt-8 border-t border-gray-700 pt-4">
      <p class="text-xs leading-5 text-gray-400 text-center">&copy; 2025 FluentRx. All rights reserved.</p>
    </div>
  </div>
</footer>