<header class="sticky top-0 z-50 bg-white/95 backdrop-blur-md shadow-sm border-b border-gray-200 font-inter transition-all duration-300">
  <nav class="mx-auto flex w-full items-center justify-between px-6 py-2 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">FluentRx</span>
        <div class="flex items-center">
          <%= image_tag "FluentRx-logo-horizontal.png", class: "h-20 w-auto", alt: "FluentRx Logo" %>
        </div>
      </a>
    </div>
    <div class="flex lg:hidden">
      <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
        <span class="sr-only">Open main menu</span>
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <a href="#home" class="text-sm font-semibold leading-6 text-gray-900 hover:text-primary transition-colors duration-200">Home</a>
      <a href="/about" class="text-sm font-semibold leading-6 text-gray-900 hover:text-primary transition-colors duration-200">About</a>
      <a href="#courses" class="text-sm font-semibold leading-6 text-gray-900 hover:text-primary transition-colors duration-200">Courses</a>
      <a href="#testimonials" class="text-sm font-semibold leading-6 text-gray-900 hover:text-primary transition-colors duration-200">Testimonials</a>
      <a href="#contact" class="text-sm font-semibold leading-6 text-gray-900 hover:text-primary transition-colors duration-200">Contact</a>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <%= render 'shared/button', text: "Schedule free assessment", url: "javascript:void(0)", type: :primary, options: { onclick: "Calendly.initPopupWidget({url: 'https://calendly.com/fluentrx/infosession'});return false;" } %>
    </div>
  </nav>
</header>